*{
    font-family: "Montserrat";
}
ul, li{
    list-style-type: none;
    font-family: "Montserrat";
}
h1, h2, h3, h4, h5, h6{
    color: #c1c1c1
}
p{
    font-size: 16px;
    line-height: 24px;
    font-weight: lighter;
    font-family: "Montserrat light";
    text-align: justify;
    white-space: pre-line;
    letter-spacing: .4px;
    letter-spacing: .10px;
}
h4{
    font-family: "Montserrat light";
    font-size: 34px; 
    white-space: pre-line;
    line-height: inherit;
    letter-spacing: .10px;
}
h6{
    font-family: "Montserrat";
    font-size: 13px;
    font-weight: bold;
    letter-spacing: .10px;
}
span{
    font-family: "Montserrat";
    text-align: justify;
    letter-spacing: .10px;
    white-space: pre-line;
}
.on-desk{
    display: block;
}
.on-mobile{
    display: none
}
a:hover, a:focus{
    text-decoration: none;
    /*color: #835cdd;*/
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s;
    outline: 0;
}
input.form-control{
    border: 0px;
    border-bottom: 1px solid #ccc;
    color: #000;
    font-size: 16px;
    background: transparent
}
label{
    font-size: 16px;
    font-weight: 500;
    color: #000;
}
textarea.form-control{
    border: 1px solid #ccc;
    background: #fff;
}
input.form-control:focus, textarea.form-control:focus{
    box-shadow: none;
}
/*input:focus, .form-control{
    outline: 0;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}*/
.btn.active, .btn:active{
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}
/*input[type="text"],  
input[type="email"], 
textarea.form-control{
    background: transparent;
    height: 60px;
    font-family: "Brandon Text bold";
    border: transparent;
    font-size: 26px;
}
input[type="text"]:focus,  
input[type="email"]:focus,
textarea.form-control:focus{
    border-bottom: 1px solid #835cdd;
}
label{
    font-size: 16px;
    letter-spacing: .9px;
    color: #000;
    line-height: 20px;
}
textarea.form-control{
    height: 80px;
}
textarea{
    overflow: hidden;
}*/


/*navbar*/
.nav-top{
    background: #2e2b32;
}
.content-nav{
    display: flex;
    align-items: center;
}
.content-nav .navbar-brand{
    display: block;
    width: 20%;
    padding: 0px 50px;
    text-align: center
}
.nav-top  ul{
    padding-right: 50px
}
.nav-top  ul li{
    display: inline-block;
    color: #fff!important
}
.nav-top  ul li h4{
    font-size: 20px;
    color: #fff;
    margin-bottom: 0px;
}
.nav-top  ul li a{
    color: #fff;;
}
.navbar-expand-lg .navbar-nav .nav-item.active{
    border: 1px solid  rgba(255,255,255,.75);
    border-radius: 10px;
    -webkit-border-radius: 10px;
}
.navbar-dark .navbar-nav .nav-link{
    padding: .2rem 1.8rem; 
}
.navbar-expand-lg .navbar-nav{
    min-width: 60%;
}
.navbar-expand-lg .navbar-nav.navbar-right{
    min-width: inherit;
}
.navbar-expand-lg .navbar-nav.navbar-right .nav-item{
    margin-right: 15px;
}
.navbar-expand-lg .navbar-nav.navbar-right .phone a.nav-link{
    min-width: 160px;
    background-color: #6b6b6a;
    border: 1px solid transparent;
    border-radius: 10px
}
.navbar-expand-lg .navbar-nav.navbar-right .phone img{
    width: 22px;
    margin-right: 5px
}
header .navbar-expand-lg .navbar-nav .nav-item,.navbar-dark .navbar-nav .nav-link{
    color: #fff!important
}
.nav-top  ul li a.main-btn{
    min-width: 178px;
    margin-left:100px;
}
.nav-top  ul{
    width: 80%;
    background: #323232;
    padding: 0px;
    padding: 10px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0px;
}
.nav-top img{
    max-width: 150px;
    max-height: 72px;
    width: auto;
    height: auto;
}

.navbar{
    margin-bottom: 0 !important;
    border-radius: 0 !important;
    background-color: #2e2b32 !important;
}

.navbar-default {
    background-color: #2e2b32;
    border-color: transparent;
    z-index: 9999;
}
.navbar-default .navbar-nav>li>a {
    color: #000;
    font-size: 14px;
}
.navbar-default .navbar-nav>li>.contact-link{
    color: #fff;
    font-size: 14px;
    position: relative;
    left: 50px;
}
.navbar-default .navbar-nav>li>.contact-link:focus, 
.navbar-default .navbar-nav>li>.contact-link:hover{
    color: #fff;
}
.navbar-nav .btn-cotiza{
    background: #00819d;
    padding: .5rem 3rem !important;
    border-radius: 10px;
}
nav ul .phone a.nav-link{
    background: #838688;
    border-radius: 10px;
    color: #fff;
}
nav .redes a{
    border-radius: 50% !important;
    padding: 0 5px !important;
}
nav ul li a i.fab.fa-facebook-f{
    background: #3a5998 !important;
    padding: 10px 15px;
    border-radius: 50%;
    font-size: 18px;
    color: #fff;
}
nav ul li a i.fab.fa-instagram {
    background: #d6249f !important;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%) !important;
    padding: 10px 12px;
    border-radius: 50%;
    font-size: 18px;
    color: #fff;
}
main{
    background-color: #2d2d2d;
}

.main-btn{
    min-width: 150px;
    height: 42px;
    border-radius:8px;
    background-color:#00819d;
    border: 1px solid #00819d;
    color: #fff;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    display: block;
    transition: .3s;
    -webkit-transition: .3s
}
.main-btn:hover{
    background: #00677F;
    border-color: #00677F;
    color: #fff!important
}


/*First Section*/
.first-section .carousel .carousel-caption h5{
    font-size: 24px;
}
.first-section .carousel .carousel-caption p span{
    font-size: 30px;
    font-weight: bold;
    margin-left: 10px;
}
.first-section .carousel .carousel-caption .main-btn{
    width: 100%;
    line-height: 38px;
}
.first-section .carousel .carousel-caption span{
    font-size: 10px;
}
.first-section .carousel .carousel-caption{
    position: absolute;
    right: 15%;
    bottom: 80px;
    left: 64%;
    z-index: 10;
    padding-top: 0px;
    padding-bottom: 20px;
    color: #fff;
    text-align: inherit !important;
}

/*Second Section*/
.second-section{
    padding: 40px 0;
}
.second-section .common-box--title{
    color: #c1c1c1;
    text-align: center;
}
.second-section .common-box--title h5{
    font-size: 17px;
    line-height: 3.1;
}
.second-section .common-box{
    display: inline-flex;
}
.second-section .common-box a{
    border-radius: 6%;
    border: 1px solid #fff;
    padding: 20px 16px 0;
    width: 20%;
    margin-left: 18px;
    text-align: center;
}
.second-section .common-box a{
    cursor: pointer;
}
.second-section .common-box a:active, 
.second-section .common-box a:hover{
    background: #666;
}
.second-section .common-box p{
    position: relative;
    top: 50px;
    line-height: 1;
    margin-bottom: 0;
    text-align: center;
    color: #c1c1c1;
}


/*Third Section*/
.third-section{
    padding: 100px 0 60px;
}
.third-section .common-box{
    background-image: url(../images/backkeyboard.jpg);
    height: 300px;
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: inherit;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: 1;
    transition: .3s;
    -webkit-transition: .3s;
}
.third-section .common-box::after{
    background: rgba(0,0,0,.3);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    content: "";
}
.third-section .common-box__text{
    text-align: center !important;
}
.third-section .common-box__text h5{
    color: #fff;
    font-size: 30px;
    font-weight: bolder;
    letter-spacing: 1.5px;
}
.third-section .common-box__text p{
    color: #fff;
    font-size: 18px;
    white-space: inherit;
}
.third-section .common-box__text .main-btn{
    /*width: 200px;
    line-height: 37px;
    border-radius: 0px !important;
    height: 42px;*/
    background: #343434 !important;
    border: 1px solid #343434 !important;
    display: block;
    float: right;
    font-size: 20px;
    width: 80%;
    height: 55px;
    line-height: 50px;
    border-radius: 8px !important;
    margin-top: 20px;
}
.third-section .common-box .common-box__text{
    position: relative;
    z-index: 100;;
}


/*Fourth Section*/
.fourth-section h4{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}
.fourth-section span{
    color: #00819d;
    margin-right: 15px;
    display: inline-block;
}
.fourth-section .card.first{
    background-image: url(../images/serviciotecnico.png);
    height: 350px;
    width: 100%;
    position: relative;
    background-position: inherit;
    background-repeat: no-repeat;
    z-index: 1;
    border: transparent;
}
.fourth-section .card.second{
    background-image: url(../images/desabolladura.png);
    height: 350px;
    width: 100%;
    position: relative;
    background-position: inherit;
    background-repeat: no-repeat;
    z-index: 1;
    border: transparent;
}
.fourth-section .card .card-body{
    padding: 50px 40px;
    position: relative;
    z-index: 500;
}
.fourth-section .card::after{
    transition: .3s;
    -webkit-transition:.3s;
    position: absolute;
    content: "";
    background: rgba(0,0,0,.5);
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
.fourth-section .card:hover::after{
    position: absolute;
    content: "";
    background: rgba(0, 79, 97, .8);
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
.fourth-section .card:hover .main-btn{
    background: #00819d!important;
    border: 1px solid #00819d!important;
}
.fourth-section .card .card-title{
    font-size: 24px;
    color: #fff !important
}
.fourth-section .card .card-text{
    color: #fff!important;
    font-size: 16px;
}
.fourth-section .card .main-btn{
    width: 55%;
    line-height: 40px;
}
.fourth-section .card .main-btn{
    background: #343434 !important;
    border: 1px solid #343434 !important;
    margin-top: 30px;
}


/*Fifth Section*/
.fifth-section{
    padding: 40px 0;
}
.fifth-section h4{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}
.fifth-section span{
    color: #00819d;
    margin-right: 15px;
    display: inline-block;
}
.fifth-section .card{
    background-color: #3b3c3d !important;
    border: transparent !important;
}
.fifth-section .card-title{
    color: #c1c1c1;
    font-weight: bold;
}
.fifth-section .card-text{
    text-align: inherit;
    color: #fff!important
}
.fifth-section .card-text a{
    color: #fff;
    font-weight: bold;
    display: block
}
.fifth-section .all{
    float: right;
    color: #c1c1c1;
    margin-top: 30px;
}
/*Cotiza Section*/

.first-section.cotiza{
    padding: 60px 0 90px;
}
.first-section.cotiza .description-layout{
    padding: 0;
}
.first-section.cotiza .description-layout .box-car .tag{
    top: 66%;
}
.first-section.cotiza .description-layout .box-car .detail-box .main-btn{
    margin-top: 32px;
}
.first-section.cotiza .description-layout .box-car{
    background: #343434;
    color: #c1c1c1;
}
.first-section.cotiza .description-layout .box-car .title h5{
    font-size: 18px;
}
.first-section.cotiza .description-layout .box-car .title small{
    font-size: 14px;
}
.first-section.cotiza .description-layout .box-car .detail-box{
    padding: 5px 20px 20px;
}
.first-section.cotiza .description-layout .box-car .detail-box h4{
    color: #c1c1c1;
    margin-top: 16px;
}
.first-section.cotiza .description-layout .box-car .detail-box .reference{
    float: right;
    font-size: 8px;
}
.first-section.cotiza h5{
    font-weight: bold;
    margin-bottom: 40px;
    font-size: 22px;
}
.first-section.cotiza form{
    background: #3a3b3c;
    padding: 50px;
    border-radius: 15px;
    color: #c1c1c1;
}
.first-section.cotiza .form-control{
    font-size: 1.3rem;
    color: #c1c1c1;
    background-color: #3b3c3c;
}
.first-section.cotiza label{
    color: #c1c1c1;
}
.first-section.cotiza form button.btn-solicita{
    background: #00819d !important;
    border: #00819d !important;
    float: right;
    color: #fff;
    width: 40%;
}
.first-section.cotiza .card {
    border: transparent;
}
.first-section.cotiza .card .card-body.first{
    padding: .5rem .5rem .5rem 2rem;
    background: #3a3b3c;
    color: #c1c1c1;
}
.first-section.cotiza .card .card-body.second{
    background: #3a3b3c;
    color: #c1c1c1;
}
.first-section.cotiza .card .card-body.first img{
    width: 20%;
    border-right: 1px solid red;
    padding-right: 10px;
}
.first-section.cotiza .card .card-body.first .card-title{
    float: right;
    margin-right: 52px;
    margin-bottom: 0;
}
.first-section.cotiza .card .card-body.second .ref{
    float: right;
    line-height: 0;
}
.first-section.cotiza .card .card-body.second .bono{
    margin-bottom: 0;
}
.first-section.cotiza .card .card-body.second a.btn-seeModel{
    width: 70%;
    margin-top: 12px;
    background: #00819d !important;
    border: #00819d !important;
}
.first-section.cotiza input.form-control{
    border: 1px solid #c1c1c1;
}

/*Usados Section*/

.first-section.usados{
    padding: 40px 0;
    background-image: url(../images/usados.png);
    width: 100%;
    position: relative;
    background-size: contain;
    background-position: inherit;
    background-repeat: no-repeat;
    z-index: 1;
    position: relative;
}
.first-section.usados::after{
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
}
.first-section.usados .types-cars{
    background: #c1c1c1;
    padding: 45px 50px 10px;
}
.first-section.usados h2,
.second-section.usados h2{
    text-align: center;
    color: #fff;
    font-weight: bolder;
}
.first-section.usados h5{
    color: #2d2d2d;
    font-weight: bolder;
    margin-bottom: 30px;
}

.second-section.usados .card p{
    margin-bottom: 0;
    padding-bottom: 0;
    line-height: 1.5;
    font-weight: bold;
    color: #000;
}
.second-section.usados .card p span{
    font-weight: 100;
}
.second-section.usados .card{
    border: transparent;
}
.second-section.usados .card .card-body.first{
    background: #000;
    padding: 10px  20px !important;
}
.second-section.usados .card .card-body.first .card-title{
    margin: 0px;
    font-size: 22px;
    font-weight: 600;
    color: #fff;
}
.second-section.usados .card .card-body.second{
    background: #c1c1c1;
    padding: 10px 20px;
}
.second-section.usados .card .card-body.second .card-title{
    margin: 0px;
    font-weight: bold;
    color: #000
}
.second-section.usados .card .card-body.second .card-title span{
    color: #00819d;
    font-family: "Montserrat bold";
    font-weight: bold;
}
.second-section.usados .card .card-body.second
.second-section.usados .card .card-body.third{
    padding: 1rem 1.25rem !important;
}
.second-section.usados .card .card-body.third button{
    background: #00819d !important;
    border: #00819d !important;
    width: 100%;
    margin-top: 15px;
}
.description-layout .box-content{
    padding: 40px ;
    background: #343434;
    border-radius: 6px;
}
.description-layout .box-content h5{
    display: inline-block;
    color: #c1c1c1;
    margin-bottom: 0px;
    font-weight: lighter;
    line-height: 50px
}
.description-layout .box-content .main-btn{
    display: inline;
    min-width: 200px;
    float: right;
    cursor: pointer;
}
.description-layout .tab-content h4{
    margin-top: 0px;
    color: #fff;
    font-size: 20px;
    
}
.description-layout .tab-content ul {
    column-count: 2;
    margin-top: 20px;
    padding-left: 20px;
}
.description-layout .tab-content ul li{
    color: #fff;
    font-size: 16px;
    list-style-type: disc;
    margin-bottom: 8px;
}
.description-layout .icons ul{
    display: flex;
}
.description-layout .icons ul li{
    margin: auto;
    text-align: center
}
.description-layout .icons ul li img{
    margin-bottom: 15px;
    min-height: 50px;
}
.description-layout .icons ul li h5{
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    font-weight: bold;
}
.description-layout .icons ul li h5 span{
    font-size: 14px;
    display: block;
    font-weight: lighter;
    text-align: center;
    margin-top: 5px
}


/*Modelo Section*/

.second-section.model{
    padding: 40px 0;
}
.second-section.model .common-box{
    display: inline-flex;
}
.second-section.model .common-box a{
    border-radius: 6%;
    border: 1px solid #fff;
    padding: 25px 25px 10px;
    margin-left: 18px;
}
.second-section.model .common-box a{
    cursor: pointer;
}
.second-section.model .common-box a:active, 
.second-section.model .common-box a:hover{
    background: #666;
}
.second-section.model .common-box p{
    position: relative;
    top: 40px;
    line-height: .5;
    margin-bottom: 0;
    color: #c1c1c1;
}
.third-section.model{
    padding: 40px 0;
}
.third-section.model .card .card-body.first{
    padding: .5rem .5rem .5rem 2rem;
}
.third-section.model .card .card-body.first img{
    width: 20%;
    border-right: 1px solid red;
    padding-right: 10px;
}
.third-section.model .card .card-body.first .card-title{
    float: right;
    margin-right: 52px;
    margin-bottom: 0;
}
.third-section.model .card .card-body.second .ref{
    float: right;
    line-height: 0;
}
.third-section.model .card .card-body.second .bono{
    margin-bottom: 0;
}
.third-section.model .card .card-body.second a.btn-seeModel{
    width: 70%;
    margin-top: 12px;
    background: #00819d !important;
    border: #00819d !important;
}
.third-section.model .card .card-body .main-btn{
    width: 40% !important;
    line-height: 38px !important;
}
.third-section.model .card .card-body a:hover{
    color: #fff;
}
.fourth-section.model .card .card-text span{
    border-radius: 50% !important;
    background: red !important;
    padding: 16px 14px !important;
}
.fourth-section.model .card .card-text span img{
    width: 8% !important;
}


/*Historia Section*/

.first-section.historia{
    padding: 100px 0;
}
.first-section.historia h2{
    font-weight: bold;
    margin-bottom: 40px;
}
.first-section.historia .common-box__text p{
    white-space: inherit;
    font-size: 20px;
    color: #c1c1c1;
    padding: 15px 10px 0 0;
}
.first-section.historia .common-box__figure img{
    width: 100%;
}
.first-section.historia hr{
    margin-top: 15rem;
    margin-bottom: 12rem;
}


/*aury*/
.layout-image{
    position: relative;
    min-height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 0px;
    align-items: center;
    display: flex;
}
.layout-image::after{
    position: absolute;
    top: 0px;
    left: 0px;
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.3)

}
.layout-image .text-layer{
    z-index: 500;
    position: relative;
}
.layout-image .text-layer h1{
    font-size: 32px;
    color: #fff
}
.layout-image .text-layer h1 span{
    font-size:  20px
}
.layout-image .text-layer h1 strong{
    font-size: 50px;
    font-weight: 600;
}
.layout-image .text-layer small{
 color: #fff
}
.layout-image .main-btn{
    margin-top: 15px;
    min-height: 50px;
    min-width: 200px;
    margin-bottom: 15px;
}
.description-layout{
    padding: 80px 0px;
}
.description-layout h3{
    color: #fff;
    font-size: 24px
}
.description-layout .text-box{
    padding-right: 40px
}
.description-layout p{
    color: #fff;
    font-size: 16px;
    text-align: justify
}
.responsive-img{
    max-width: 100%;;
}
.description-layout .table-dark{
    background: #292929
}
.description-layout .table-dark td img{
    width: 20px;
}
.description-layout h4{
    font-size: 20px;
    font-weight: bold;
    margin-bottom:20px;
}
.description-layout h4 span{
    color: #00819d;
    margin-right: 15px;
    display: inline-block
}
.description-layout .toggle-content {
    margin-bottom: 15px;
}
.description-layout .toggle-content .title{
    background: #343434;
    width: 100%;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 10px 25px; 
    transition: .3s;
    -webkit-transition: .3s;
}
.description-layout .toggle-content .title h4{
    color: #fff;
    font-size: 18px;
    text-align: left;
    width: 70%;
    margin:0;
    display: inline-block
}
.description-layout .toggle-content.active .title{
    background: #00819d;
}
.description-layout .toggle-content .title .toggle-btn{
    text-align: center;
    background: transparent;
    border: 1px solid transparent;
    float: right;
    cursor: pointer;
}
.description-layout .toggle-content .title .toggle-btn img{
    width: 20px;
    margin-right: 10px;
}
.description-layout .toggle-content .content{
    height: 0px;
    min-height: 0px;
    overflow: hidden;
    opacity: 0;
    -webkit-transition: min-height 0.5s ease, opacity 0.5s linear ;
    -moz-transition: min-height 0.5s ease, opacity 0.5s linear ;
    -o-transition: min-height 0.5s ease, opacity 0.5s linear ;
    transition: min-height 0.5s ease, opacity 0.5s linear ;
    padding: 20px 0px;
    display: none;
}
.description-layout .toggle-content.active .content{
    min-height: 300px;
    height: auto;
    display: block;
    opacity: 1;
    
}
.description-layout  .nav-tabs .nav-link{
    color: #fff;
    background-color: transparent;
    border-color: transparent!important;
}
.description-layout  .nav-tabs .nav-link.active{
    color: #fff!important;
    background-color: #00819d!important;
    border-color: #00819d!important;
}
.description-layout .download-btn{
    font-size: 16px;
    color: #c1c1c1;
    text-decoration: underline;
}
.description-layout .download-btn img{
    width: 20px;
    margin-right: 15px;
}
.description-layout .box-car{
    background: #fff;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 20px
}
.description-layout .box-car .tag{
    position: absolute;
    top: 50%;
    right: 0px;
    width: 64px;
    height: 64px;
    background: #00819d;
    padding: 10px;
    border-radius: 4px 0px 0px 4px;
    color: #fff;
    box-shadow: 0px 4px 4px rgba(0,0,0,.4)
}
.description-layout .box-car .tag span{
    font-size: 12px;
}
.description-layout .box-car .title{
    background: #343434;
    padding: 8px 8px;
}
.description-layout .box-car .title img{
    width: 52px;
    float: left
}
.description-layout .box-car .title h5{
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0px;
}
.description-layout .box-car .title small{
    color: #fff;
    font-size: 12px;
}
.description-layout .box-car  .image-box{
    max-width: 100%;
    overflow: hidden;
    max-height: 200px;
}
.description-layout .box-car  .image-box img{
    width: 100%;
}
.description-layout .box-car  .detail-box h4{
    color: #000;
    font-size: 20px;
}
.description-layout .box-car  .detail-box h4 span{
    color: #00819d;
    font-size: 22px;
}
.description-layout .box-car  .detail-box  small{
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
}
.description-layout .box-car  .detail-box{
    padding: 20px;
}
.description-layout .box-car  .detail-box .main-btn{
    width: 80%;
    margin: auto;
}
.description-layout .box-car  .detail-box .main-btn.white-btn{
    border: 1px solid #999999;
    color: #000;
    margin: auto;
    background: transparent;
    margin-bottom: 15px;
    margin-top: 15px;
    line-height: 37px;
}
.description-layout .cotizar-box{
    background: #fafafa;
    padding: 40px;
    position: relative;
    border-radius: 6px;
    margin-bottom: 20px;
}
.description-layout .cotizar-box .title{
    background: #222222;
    padding: 10px 20px;
    position: absolute;
    top: 0px;
    width: 100%;
    left: 0px;
    border-radius: 6px
}
.description-layout .cotizar-box .title h4{
    margin: 0px;
    color: #fff;
}
.description-layout .cotizar-box form{
    margin-top: 50px;
}
.description-layout .cotizar-box .main-btn{
    margin-top: 15px;
    width: 100%;
}
.description-layout .cotizar-box form .form-check-label{
    margin-bottom: 15px;
}
.description-layout .cotizar-box h4{
    font-size: 22px;
    color: #000;
    margin-bottom: 10px;
}
.description-layout .cotizar-box p{
    color: #000;
    font-size: 16px;
}


/*Footer*/
footer{
    background-color: #222222;
    padding: 40px 0px;
}
footer a:hover{
    color: #00819d!important
}
footer li p{
    color: #fff;
    margin-top: 10px;
    text-align: left;
    font-size: 13px;
    line-height: 16px;
}
footer ul{
    padding: 0px;
}
footer h5{
    color: #fff;
}
footer h4{
    font-size: 18px;
}
footer .phone-footer{
    margin: 40px 0px 20px;
}
footer .phone-footer .circle{
    background: #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    height: 32px;
    width: 32px;
    text-align: center;
    line-height: 32px;
    display: inline-block;
    margin-right: 12px;
}
footer .phone-footer i{
    color: #2e2b32;
}
footer li a{
    color: whitesmoke;
    font-size: 15px;
}
footer p{
    text-align: center;
    color: whitesmoke;
}
footer .redes a{
    border-radius: 50%;
    padding: 8px 12px;
}
footer ul li a.facebook {
    background: #3a5998;
}
footer ul li a.instagram {
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}
footer ul li{
    margin-bottom: 8px;
}
footer .iso{
    float: right;
    width: 100px;
    position: relative;
    bottom: 55px;
}
footer .redes li {
    display: inline-block;
    margin-right: 10px;
}
footer .redes li a i{
    font-size: 18px;
    line-height: 38px;
}

