*{
    font-family: "Montserrat";
}
ul, li{
    list-style-type: none;
    font-family: "Montserrat";
}
h1, h2, h3, h4, h5, h6{
    color: #c1c1c1
}
p{
    font-size: 16px;
    line-height: 24px;
    font-weight: lighter;
    font-family: "Montserrat light";
    text-align: justify;
    white-space: pre-line;
    letter-spacing: .4px;
    letter-spacing: .10px;
}
h4{
    font-family: "Montserrat light";
    font-size: 34px; 
    white-space: pre-line;
    line-height: inherit;
    letter-spacing: .10px;
}
h6{
    font-family: "Montserrat";
    font-size: 13px;
    font-weight: bold;
    letter-spacing: .10px;
}
span{
    font-family: "Montserrat";
    text-align: justify;
    letter-spacing: .10px;
    white-space: pre-line;
}
.on-desk{
    display: block;
}
.on-mobile{
    display: none
}
a:hover, a:focus{
    text-decoration: none;
    /*color: #835cdd;*/
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s;
    outline: 0;
}
/*input:focus, .form-control{
    outline: 0;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}*/
.btn.active, .btn:active{
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}
/*input[type="text"],  
input[type="email"], 
textarea.form-control{
    background: transparent;
    height: 60px;
    font-family: "Brandon Text bold";
    border: transparent;
    font-size: 26px;
}
input[type="text"]:focus,  
input[type="email"]:focus,
textarea.form-control:focus{
    border-bottom: 1px solid #835cdd;
}
label{
    font-size: 16px;
    letter-spacing: .9px;
    color: #000;
    line-height: 20px;
}
textarea.form-control{
    height: 80px;
}
textarea{
    overflow: hidden;
}*/


/*navbar*/
.nav-top{
    background: #2e2b32;
}
.content-nav{
    display: flex;
    align-items: center;
}
.content-nav .navbar-brand{
    display: block;
    width: 20%;
    padding: 0px 50px;
    text-align: center
}
.nav-top  ul{
    padding-right: 50px
}
.nav-top  ul li{
    display: inline-block;
    color: #fff!important
}
.nav-top  ul li h4{
    font-size: 20px;
    color: #fff;
    margin-bottom: 0px;
}
.nav-top  ul li a{
    color: #fff;;
}
.navbar-expand-lg .navbar-nav .nav-item.active{
    border: 1px solid  rgba(255,255,255,.75);
    border-radius: 10px;
    -webkit-border-radius: 10px;
}
.navbar-dark .navbar-nav .nav-link{
    padding: .6rem 1.8rem; 
}
.navbar-expand-lg .navbar-nav{
    min-width: 60%;
}
.navbar-expand-lg .navbar-nav.navbar-right{
    min-width: inherit;
}
.navbar-expand-lg .navbar-nav.navbar-right .phone{
    min-width: 160px;
    background-color: #6b6b6a;
    border: 1px solid transparent;
    border-radius: 10px
}
.navbar-expand-lg .navbar-nav.navbar-right .phone img{
    width: 22px;
    margin-right: 5px
}
header .navbar-expand-lg .navbar-nav .nav-item,.navbar-dark .navbar-nav .nav-link{
    color: #fff!important
}
.nav-top  ul li a.main-btn{
    min-width: 178px;
    margin-left:100px;
}
.nav-top  ul{
    width: 80%;
    background: #323232;
    padding: 0px;
    padding: 10px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0px;
}
.nav-top img{
    max-width: 150px;
    max-height: 72px;
    width: auto;
    height: auto;
}

.navbar{
    margin-bottom: 0 !important;
    border-radius: 0 !important;
    background-color: #2e2b32 !important;
}

.navbar-default {
    background-color: #2e2b32;
    border-color: transparent;
    z-index: 9999;
}
.navbar-default .navbar-nav>li>a {
    color: #000;
    font-size: 14px;
}
.navbar-default .navbar-nav>li>.contact-link{
    color: #fff;
    font-size: 14px;
    position: relative;
    left: 50px;
}
.navbar-default .navbar-nav>li>.contact-link:focus, 
.navbar-default .navbar-nav>li>.contact-link:hover{
    color: #fff;
}
.navbar-nav .btn-cotiza{
    background: #00819d;
    padding: .5rem 3rem !important;
    border-radius: 10px;
}
nav ul .phone a.nav-link{
    background: #838688;
    border-radius: 10px;
    color: #fff;
}
nav .redes a{
    border-radius: 50% !important;
    padding: 0 5px !important;
}
nav ul li a i.fab.fa-facebook-f{
    background: #3a5998 !important;
    padding: 10px 15px;
    border-radius: 50%;
    font-size: 18px;
    color: #fff;
}
nav ul li a i.fab.fa-instagram {
    background: #d6249f !important;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%) !important;
    padding: 10px 12px;
    border-radius: 50%;
    font-size: 18px;
    color: #fff;
}
main{
    background-color: #37323a;
}

.main-btn{
    min-width: 150px;
    height: 42px;
    border-radius:8px;
    background-color:#00819d;
    border: 1px solid #00819d;
    color: #fff;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    display: block;
    transition: .3s;
    -webkit-transition: .3s
}
.main-btn:hover{
    background: #00677F;
    border-color: #00677F
}
/*First Section*/




/*Second Section*/
.second-section{
    padding: 40px 0;
}
.second-section .common-box--title{
    color: #c1c1c1;
    text-align: center;
}
.second-section .common-box--title h5{
    font-size: 17px;
    line-height: 3.1;
}
.second-section .common-box{
    display: inline-flex;
}
.second-section .common-box a{
    border-radius: 6%;
    border: 1px solid #fff;
    padding: 25px 25px 0;
    margin-left: 18px;
    text-align: center;
}
.second-section .common-box a{
    cursor: pointer;
}
.second-section .common-box a:active, 
.second-section .common-box a:hover{
    background: #666;
}
.second-section .common-box p{
    position: relative;
    top: 40px;
    line-height: 1;
    margin-bottom: 0;
    color: #c1c1c1;
}


/*Third Section*/
.third-section{
    padding: 40px 0;
}
.third-section .common-box{
    background-image: url(../images/backkeyboard.jpg);
    height: 300px;
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: inherit;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: 1;
    opacity: 0.7;
}



/*Fourth Section*/




/*Fifth Section*/
.fifth-section{
    padding: 40px 0;
}
.fifth-section .card{
    background-color: #3b3c3d !important;
    border: transparent !important;
}
.fifth-section .card-title{
    color: #c1c1c1;
}



/*Cotiza Section*/

.first-section.cotiza{
    padding: 40px 0;
}
.first-section.cotiza form{
    background: #3a3b3c;
    padding: 50px;
    border-radius: 15px;
    color: #c1c1c1;
}
.first-section.cotiza .form-control{
    font-size: 1.3rem;
    color: #c1c1c1;
    background-color: #3b3c3c;
}
.first-section.cotiza form button.btn-solicita{
    background: #00819d !important;
    border: #00819d !important;
    float: right;
}
.first-section.cotiza .card .card-body.first{
    padding: .5rem .5rem .5rem 2rem;
}
.first-section.cotiza .card .card-body.first img{
    width: 20%;
    border-right: 1px solid red;
    padding-right: 10px;
}
.first-section.cotiza .card .card-body.first .card-title{
    float: right;
    margin-right: 52px;
    margin-bottom: 0;
}
.first-section.cotiza .card .card-body.second .ref{
    float: right;
    line-height: 0;
}
.first-section.cotiza .card .card-body.second .bono{
    margin-bottom: 0;
}
.first-section.cotiza .card .card-body.second a.btn-seeModel{
    width: 70%;
    margin-top: 12px;
    background: #00819d !important;
    border: #00819d !important;
}

/*Usados Section*/

.first-section.usados{
    padding: 40px 0;
    background-image: url(../images/usados.png);
    width: 100%;
    position: relative;
    background-size: contain;
    background-position: inherit;
    background-repeat: no-repeat;
    z-index: 1;
    opacity: 0.7;
}
.first-section.usados .types-cars{
    background: #c1c1c1;
    padding: 50px;
}

.first-section.usados h2,
.second-section.usados h2{
    text-align: center;
}

.second-section.usados .card p{
    margin-bottom: 0;
    padding-bottom: 0;
    line-height: 1.5;
}
.second-section.usados .card{
    border: transparent;
}
.second-section.usados .card .card-body.first{
    background: #000;
    padding: 1rem 1.25rem .5rem !important;
}
.second-section.usados .card .card-body.second{
    background: #c1c1c1;
    padding: 1rem 1.25rem .5rem !important;
}
.second-section.usados .card .card-body.third{
    padding: 1rem 1.25rem !important;
}
.second-section.usados .card .card-body.third button{
    background: #00819d !important;
    border: #00819d !important;
    width: 100%;
    padding: 15px;
    margin-top: 15px;
}



/*Modelo Section*/

.second-section.model{
    padding: 40px 0;
}
.second-section.model .common-box{
    display: inline-flex;
}
.second-section.model .common-box a{
    border-radius: 6%;
    border: 1px solid #fff;
    padding: 25px 25px 10px;
    margin-left: 18px;
}
.second-section.model .common-box a{
    cursor: pointer;
}
.second-section.model .common-box a:active, 
.second-section.model .common-box a:hover{
    background: #666;
}
.second-section.model .common-box p{
    position: relative;
    top: 40px;
    line-height: .5;
    margin-bottom: 0;
    color: #c1c1c1;
}
.third-section.model{
    padding: 40px 0;
}
.third-section.model .card .card-body.first{
    padding: .5rem .5rem .5rem 2rem;
}
.third-section.model .card .card-body.first img{
    width: 20%;
    border-right: 1px solid red;
    padding-right: 10px;
}
.third-section.model .card .card-body.first .card-title{
    float: right;
    margin-right: 52px;
    margin-bottom: 0;
}
.third-section.model .card .card-body.second .ref{
    float: right;
    line-height: 0;
}
.third-section.model .card .card-body.second .bono{
    margin-bottom: 0;
}
.third-section.model .card .card-body.second a.btn-seeModel{
    width: 70%;
    margin-top: 12px;
    background: #00819d !important;
    border: #00819d !important;
}



/*Historia Section*/

.first-section.historia{
    padding: 100px 0;
}
.first-section.historia h2{
    font-weight: bold;
    margin-bottom: 40px;
}
.first-section.historia .common-box__text p{
    white-space: inherit;
    font-size: 20px;
    color: #c1c1c1;
}
.layout-image{
    position: relative;
    min-height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 0px
}
.layout-image::after{
    position: absolute;
    top: 0px;
    left: 0px;
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.3)

}
.layout-image .text-layer{
    z-index: 500;
    position: relative;
}
.layout-image .text-layer h1{
    font-size: 40px;
    color: #fff
}
/*Footer*/
footer{
    background-color: #2e2b32;
    padding: 40px 0px;
}
footer a:hover{
    color: #00819d!important
}
footer li p{
    color: #fff;
    margin-top: 10px;
    text-align: left;
    font-size: 13px;
    line-height: 16px;
}
footer ul{
    padding: 0px;
}
footer h5{
    color: #fff;
}
footer h4{
    font-size: 18px;
}
footer .phone-footer{
    margin: 40px 0px 20px;
}
footer .phone-footer .circle{
    background: #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    height: 32px;
    width: 32px;
    text-align: center;
    line-height: 32px;
    display: inline-block;
    margin-right: 12px;
}
footer .phone-footer i{
    color: #2e2b32;
}
footer li a{
    color: whitesmoke;
    font-size: 15px;
}
footer p{
    text-align: center;
    color: whitesmoke;
}
footer .redes a{
    border-radius: 50%;
    padding: 8px 12px;
}
footer ul li a.facebook {
    background: #3a5998;
}
footer ul li a.instagram {
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}
footer ul li{
    margin-bottom: 8px;
}
footer .iso{
    float: right;
    width: 100px;
    position: relative;
    bottom: 55px;
}
footer .redes li {
    display: inline-block;
    margin-right: 10px;
}
footer .redes li a i{
    font-size: 18px;
    line-height: 38px;
}

